
#score_container {
	display: inline;
}
#canvas {
	display: none;
}
#visible-canvas {
	border: 1.5px solid red;
}

#blockimg {
	display: none;
}

#projection {
	z-index: -1;
	display: none;
}
/*#previewTemp {
	display: none;
}
*/
#main {
	width: 660px;
	height: 400px;
}

aside {
	display: block;
	float: right;
	height: 400px;
	width: 200px;
}

#detail {
	height: 400px;
	width: 225px;
	float: left;
	padding-left: 18px;
}

.smallSpace {
	height: 5px;
	width: auto;
}